.Card{
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
}

.Card_title{
  text-transform: uppercase;
  color: #626262;
  margin-bottom: 10px;
}