.Persona{
  display: flex;
  flex-direction: column;
  @media(min-width: 650px){
    flex-direction: row;
  }
}

.Persona_content{
  background: #F4F4F4;
  @media(min-width: 650px){
    padding-left: 45vw;
    width: 55vw;
    min-height: 100vh;
  }
  @media(min-width: 992px){
    padding-left: 30vw;
    width: 70vw;
  }
  >div{
    padding: 15px;
    @media(min-width: 650px){
      padding: 30px;
    }
  }
}

.Persona_test{
  @media(min-width: 992px){
    columns: 2;
  }
}