.UserDetail{
  background: #FFF;
  @media(min-width: 650px){
    position: fixed;
    width: 45vw;
    height: 100vh;
  }
  @media(min-width: 992px){
    width: 30vw;
  }
}

.UserDetail_pic{
  height: 300px;
  background-color: lightgray;
  @media(min-width: 650px){
    height: 50vh;
  }
}

.UserDetail_infos{
  @media(min-width: 650px){
    height: 50vh;
    max-height: 50vh;
    overflow: scroll;
  }
  >div{
    padding: 30px;
  }
  h2{
    font-size: 28px;
    font-weight: 500;
  }
}

.UserDetail_details{
  display: flex;
  align-items: center;
  margin: 10px 0;
  .Atom{
    margin-left: 10px;
  }
}