.UserDetail{
  width: 30vw;
  height: 100vh;
  background: #FFF;
}

.UserDetail_pic{
  height: 50vh;
  background-color: lightgray;
}

.UserDetail_infos{
  height: 50vh;
  >div{
    padding: 30px;
  }
  h2{
    font-size: 28px;
    font-weight: 500;
  }
}

.UserDetail_details{
  display: flex;
  align-items: center;
  margin: 10px 0;
  .Atom{
    margin-left: 10px;
  }
}